@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #141517;
  padding: 0 0 80px 0;
}

h1, h2, label {
  font-weight: 700;
  margin-bottom: .5em;
}

p.current-time {
  display: inline;
  font-style: italic;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}

label {
  margin: 25px 10px 15px 0;
  display: inline-block;
}

ol.how-to {
  padding-left: 15px;
}

/*  Grid Layout  */

.flex-grid {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

.main-container {
  width: 640px;
  margin: 0 auto;
  display: block;
}


/*  Cues Video Overlay  */

#video-container {
  position: relative;
}

.cue-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.cue-overlay p {
  background-color: rgba(0, 0, 0, 0.5);
  width: auto;
  color: #FFF;
  margin: 10px;
  padding: 10px;
}

#cue-form textarea {
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  max-width: 640px;
  height: 4em;
  line-height: 1em;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #ADB4BF;
}

#cue-form input[type=number]{
  font-size: 13px;
}

button.submit-cue {
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  padding: 8px 25px;
  margin: 5px 0;
  background-color: #2D2D2D;
  color: #FFF;
  float: right;
}

#cue-form button:hover {
  background-color: #00adef;
  cursor: pointer;
}

.cue-body {
  display: flex;
  justify-content: space-between;
  background-color: #BEE4EF;
  padding: 10px;
  border-radius: 2px;
  margin: 20px auto;
}











